.ask_form {
    text-align: center;
    margin-block: 60px;
    color: white;
}

.post_button {
    border-style: none;
    border: 2px solid white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.658);
    padding: 10px 20px;
    color: white;
}

.post_button:hover {
    background: rgba(255, 255, 255, 0.781);
    color: black;
    border-color: black;
}